# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# CPython cache
.pytest_cache/
.mypy_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
maze-prueba/
.venv/

maze.txt